:root {
    --text-color: #b97f6d;
    --background-color: #ededee;
    --transition-color: #dab0a2;

    --share-button-color: #b9a56d;
    --question-button-color: #b9a56d;
    --tips-button-color:  #b9a56d;

    --submit-button-color: #4c4c4f;
}
body {
    background-color: var(--background-color);
    margin: 25px 45px 25px 45px;
}
header {
    grid-column: 1;
}

.name{
    color: var(--text-color);
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    background: transparent;
    border: 0px;
    padding: 0px;
}

button:hover{
    color: var(--transition-color);
    cursor: pointer;
}
.head {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
}

.navbar {
    display: grid;
    grid-column: 4;
}

.navbarmenu{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    padding: 5px 0px 5px 0px;
}

.navbarbutton{
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    background: transparent;
    border: 0px;
    padding: 0px;
}


#home {
    grid-column: 1;
}

#community{
    grid-column: 2;
}

#about{
    grid-column: 3;
}

#current{
    color: black;
}

.search{
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 90% 10%;
}
.searchbar{
    width: 95%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--text-color);
    padding: 10px 0px 10px 35px;
    border-radius: 15px;
    border: 0px;
}

.searchicon{
    position: absolute;
    left: 60px;
    top: 90px;
    width: 1%;
    height: auto;
}
#find{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--text-color);
    padding: 10px 10px 10px 10px;
    background-color: white;
    border: 2px solid;
    width: 100%;
    border-radius: 15px;
}

.filters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0px 10px 0px;
}

#dropdown{
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.dropdowntoggle {
    width: 30%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--text-color);
    padding: 10px 0px 10px 0px;
    background-color: white;
    margin-right: 10px;
    border: 2px solid;
    border-radius: 15px;
}

.category{
    grid-column: 1;
}


#categoryDropdown{
    width: 15%;
    height: 8%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: var(--text-color);
    padding: 10px;
    background-color: white;
    border: 1px solid;
    z-index: 100;
    position:absolute;

}

#controls{
    float:right;
}

.controlButton{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: var(--text-color);
    margin: 1px;
    margin-top:14%;
}

.dropdownoptions{
    width: 33;
    padding: 10px 0px 10px 35px;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 40px 50px;
    padding: 10px 0px 10px 0px;
}

.post{
    width: 100%;
    height: 165px;
    grid-template-columns: 120px 1fr;
    display: grid;
    border: 2px solid;
    border-color: var(--text-color);
    background-color: white;
    border-radius: 15px;

}

.help{
    width: 100%;
    height: 165px;
    border: 2px solid;
    border-color: var(--text-color);
    background-color: white;
    border-radius: 15px;
}
.postpic{
    grid-column: 1;
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

img {
    width: 100%; 
    height: 100%;
    border-radius: 13px 0px 0px 13px;
}

.postheader{
    display: grid;
    grid-template-columns:  80% 20%;
}
.posttitle{
    color: gray;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    padding: 20px 10px 0px 10px;
}

.posttitle:hover{
    color: var(--transition-color);
    cursor: pointer;
}

.postdescription{
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 14px;
    padding: 10px;
    text-align: justify;
}

.postfooter{
    color: gray;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 16px;
    padding: 20px 10px 5px 5px;
    text-align: right;
}

.subtitle{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: var(--text-color);
    padding: 20px 0px 20px 0px;
}


.new-post-button {
    grid-column: 3;
    width: 30%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    color: white;
    padding: 10px 0 10px 0;
    background-color: var(--text-color);
    border: 2px solid var(--transition-color);
    border-radius: 15px;
    justify-self: end;
    
}

/* https://www.w3schools.com/howto/howto_css_overlay.asp */
#overlay-shadow {
    position: fixed; /* Sit on top of the page content */
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
    height: 100%;
    width: 100%;
}

#overlay {
    align-items: center;
    justify-content: center;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.new-post {
    display: flex;
    flex-direction: column;

    width: 410px;
    height: auto;

    border: 2px solid var(--text-color);
    padding: 10px;
    z-index: 3;

    background-color: var(--background-color);
}

.new-post * button:hover, .new-post * span:hover {
    cursor: pointer;
}

.new-post-title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 50px;
}

.new-post-title {
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 30px;
}

.new-post-cancel-button {
    width: 35px;
    /*height: 30px;*/
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--text-color);
    padding: 10px 0 10px 0;
    background-color: white;
    border: 1px solid;
}
.new-post-cancel-button:active {
    color: white;
    background-color: var(--text-color);
}


#image-path {
    visibility: hidden;
    position: absolute;
}
.new-post-upload-button {
    display: flex;
    justify-content: center;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--text-color);
    padding: 10px 0 10px 0;
    background-color: white;
    border: 1px solid;

    margin-bottom: 10px;
}
.new-post-upload-button:hover {
    cursor: pointer;
}
.new-post-upload-button:active {
    color: white;
    background-color: var(--text-color);
}

.user-image {
    display: none;
    visibility: hidden;
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: contain;
    margin-bottom: 10px;
}
.visible {
    display: block;
    visibility: visible;

}

#new-post-form {
    display: grid;
    grid-template-columns: 110px auto;
    grid-row-gap: 10px;

    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 20px;
}

.category-label {
    align-self: center;
}

#new-post-form > textarea {
    resize: none;
}

.new-post-form-radio-holder {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 5px
}

.new-post-form-radio-holder > label {
    /*margin: 0 10px 0 10px;*/
}

.new-post-form-radio-holder > label:first-child {
    /*margin-left: 0;*/
}

/* hides original radio button (so I can use images instead) */
.new-post-form-radio-holder > label > input {
    visibility: hidden;
    position: absolute;
}


.new-post-form-radio-holder > label > span {
    cursor:pointer;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    padding: 5px 25px 5px 25px;
    background-color: white;
    border: 1px solid;
}
.new-post-form-radio-holder > label > input:checked + span {
    cursor: pointer;
}

.post-category-share-button.post-category-share-button {
    color: var(--share-button-color);
}
.new-post-form-radio-holder > label > input:checked + .post-category-share-button,
.new-post-form-radio-holder > label > input:active + .post-category-share-button{
    background-color: var(--share-button-color);
    color: white;
}

.post-category-question-button {
    color: var(--question-button-color);
}
.new-post-form-radio-holder > label > input:checked + .post-category-question-button,
.new-post-form-radio-holder > label > input:active + .post-category-question-button {
    background-color: var(--question-button-color);
    color: white;
}

.post-category-tips-button {
    color: var(--tips-button-color)
}
.new-post-form-radio-holder > label > input:checked + .post-category-tips-button,
.new-post-form-radio-holder > label > input:active + .post-category-tips-button {
    background-color: var(--tips-button-color);
    color: white;
}

.new-post-submit-button {
    width: 30%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--submit-button-color);
    padding: 10px 0px 10px 0px;
    background-color: white;
    border: 1px solid;

    margin-top: 50px;
    margin-left: auto;
}
.new-post-submit-button:active {
    background-color: var(--submit-button-color);
    color: white;
}
#input-text, #input-title {
    border: none;
}

.error-button {
    box-shadow: 0 0 1px 1px red;
    border-color: rgba(0, 0, 0, 0);
}

.error-message {
    font-family: 'Raleway', sans-serif;
    color: red;
    padding-bottom: 1px;
    font-size: 10pt;
}

#confirm {
    visibility: hidden;
    width: 300px;
    height: 100px;
    position: fixed; /* Sit on top of the page content */
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 20px;

    display: grid;
    grid-template-areas:
            "q q q"
            ". n y";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;

    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}

#confirm-text {
    grid-area: q;
}

#confirm-yes {
    display: none;
    visibility: hidden;
}

#confirm-yes-button {
    grid-area: y;

    padding: 5px 25px 5px 25px;
}

#confirm-no {
    display: none;
    visibility: hidden;
}

#confirm-no-button {
    grid-area: n;

    padding: 5px 11px 5px 11px;
}

#confirm > label {
    cursor:pointer;
    font-size: 16px;
    background-color: white;
    border: 1px solid var(--submit-button-color);
    color: var(--submit-button-color);
}

#confirm > input:checked + label,
#confirm > input:active + label{
    background-color: var(--submit-button-color);
    color: white;
}

.behind-shadow {
    z-index: 1;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }